In [3]:
import pandas as pd

#series 객체 : 1차원배열, numpy 차이가 있다

In [4]:
obj = pd.Series([3,7,-5,4])
obj

0    3
1    7
2   -5
3    4
dtype: int64

Series 객체는 index와 values로 구성되어 있다.

색인을 문자로 지정할수도 있다.

In [10]:
obj2 = pd.Series([3,7,-5,4],index=['a','b','c','d'])
obj2

a    3
b    7
c   -5
d    4
dtype: int64

#

##

# 어떻게 쓰는겨

# 마크다운  m 
## 코드 : y

### br태그
<br>
- 명령창 밑에 추가 b 
- 명령창 위에 추가 a  
- 지우기 dd 
- enter + esc


### br태그
<br>
- 명령창 밑에 추가 b 
- 명령창 위에 추가 a  
- 지우기 dd 
- enter + esc

In [14]:
#obj2 의 인덱스와 values 

obj2.index

Index(['a', 'b', 'c', 'd'], dtype='object')

In [15]:
obj2.values

array([ 3,  7, -5,  4], dtype=int64)

In [16]:
obj2[2]

-5

In [17]:
obj2[1:4]

b    7
c   -5
d    4
dtype: int64

In [18]:
obj2[obj2>0]

a    3
b    7
d    4
dtype: int64

In [19]:
'a' in obj2

True

In [19]:
#dictionary 
#mouse : 5000 
#keyboard 10000 
#monitor 30000
computer = {'mouse':5000, 'keyboard':1000,'monitor':30000}
computer

{'keyboard': 1000, 'monitor': 30000, 'mouse': 5000}

In [21]:
obj3 = pd.Series(computer)
obj3

keyboard     1000
monitor     30000
mouse        5000
dtype: int64

In [6]:
type(obj3)

pandas.core.series.Series

In [23]:
#마우스의 값 
obj3["mouse"]

5000

In [22]:
obj3[obj3.values>5000]

monitor    30000
dtype: int64

In [24]:
obj3.name='상품가격'

In [25]:
obj3

keyboard     1000
monitor     30000
mouse        5000
Name: 상품가격, dtype: int64

In [26]:
obj3.index.name='상품명'

In [27]:
obj3

상품명
keyboard     1000
monitor     30000
mouse        5000
Name: 상품가격, dtype: int64

DataFrame : 표모양 (2차 배열)의 자료 구조를 지원 - 각 칼럼의 자료 type을 다르게 할 수 있다.

In [30]:
data = {
    "name" : ["홍길동","이순신","뽀로로","짱구","짱아","둘리"],
    "addrs":["율도국",'조선','뽀롱뽀롱섬','떡잎마을','떡잎마을','쌍문동'],
    'age':[550,470,7,5,1,100000000000]
}
data

{'addrs': ['율도국', '조선', '뽀롱뽀롱섬', '떡잎마을', '떡잎마을', '쌍문동'],
 'age': [550, 470, 7, 5, 1, 100000000000],
 'name': ['홍길동', '이순신', '뽀로로', '짱구', '짱아', '둘리']}

In [31]:
type(data)

dict

In [32]:
df = pd.DataFrame(data)
df

   addrs           age name
0    율도국           550  홍길동
1     조선           470  이순신
2  뽀롱뽀롱섬             7  뽀로로
3   떡잎마을             5   짱구
4   떡잎마을             1   짱아
5    쌍문동  100000000000   둘리

In [33]:
df['name']

0    홍길동
1    이순신
2    뽀로로
3     짱구
4     짱아
5     둘리
Name: name, dtype: object

In [34]:
df

   addrs           age name
0    율도국           550  홍길동
1     조선           470  이순신
2  뽀롱뽀롱섬             7  뽀로로
3   떡잎마을             5   짱구
4   떡잎마을             1   짱아
5    쌍문동  100000000000   둘리

In [37]:
df = pd.DataFrame(data,columns=['name','age','addrs'])
df

  name           age  addrs
0  홍길동           550    율도국
1  이순신           470     조선
2  뽀로로             7  뽀롱뽀롱섬
3   짱구             5   떡잎마을
4   짱아             1   떡잎마을
5   둘리  100000000000    쌍문동

In [38]:
df1 = pd.Series(df,index=['a','b','c','d','e','f'])
df1

ValueError: Length of passed values is 6, index implies 5