In [18]:
import pandas as pd 
import numpy as np

In [22]:
appA = pd.DataFrame([20,21,23,22,26,28,35,35,41,42,43,45,44,45,46,
                     47,47,46,47,58,58,59,60,56,57,57,80,np.nan])

In [23]:
appB = pd.DataFrame([5,6,11,13,15,16,20,20,21,23,22,27,27,30,30,
                     32,36,37,37,40,40,43,44,45,51,54,70,600])

In [26]:
appA.dropna()

       0
0   20.0
1   21.0
2   23.0
3   22.0
4   26.0
5   28.0
6   35.0
7   35.0
8   41.0
9   42.0
10  43.0
11  45.0
12  44.0
13  45.0
14  46.0
15  47.0
16  47.0
17  46.0
18  47.0
19  58.0
20  58.0
21  59.0
22  60.0
23  56.0
24  57.0
25  57.0
26  80.0

In [ ]:
#박스플랏을 사용해서 이상치를 확인

In [ ]:
# 이상치가 존재한다

In [ ]:
#이상치를 제거하거나 이상치를 평균값으로 변환한다.