In [469]:
from sklearn import linear_model
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import matplotlib
import seaborn as sns

%matplotlib inline
matplotlib.style.use('ggplot')

In [470]:
happy_raw = pd.read_csv('total_raw.csv', engine='python')
# happy_raw.head()

In [471]:
happy_mean = pd.read_csv('total_raw_mean.csv', engine='python')
# happy_mean.head()

In [472]:
# happy_mean.corr()

In [473]:
# happy_mean.describe()

In [474]:
# happy_raw.describe()

In [475]:
happy_city = happy_raw.T

In [476]:
# happy_city.keys

In [477]:
city_2 = happy_city.loc[['city2']]
city_2

,0,1,2,3,4,5,6,7,8,9,...,219,220,221,222,223,224,225,226,227,228
city2,종로구,중구,용산구,성동구,광진구,동대문구,중랑구,성북구,강북구,도봉구,...,창녕군,고성군,남해군,하동군,산청군,함양군,거창군,합천군,제주시,서귀포시

In [478]:
happy_city2 = happy_city.drop(['No','city','city2'])

In [479]:
happy_city3=happy_city2.astype(float)

In [480]:
# happy_city3.dtypes

In [481]:
happy_city3.describe()

,0,1,2,3,4,5,6,7,8,9,...,219,220,221,222,223,224,225,226,227,228
count,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,...,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000
mean,0.688495,0.613939,0.496751,0.474885,0.498590,0.454554,0.417834,0.434934,0.399832,0.457612,...,0.535349,0.507790,0.508924,0.453515,0.476978,0.473854,0.491034,0.442017,0.531254,0.531254
std,0.297933,0.323215,0.256791,0.256465,0.277727,0.268767,0.237753,0.243331,0.244058,0.263687,...,0.262430,0.256173,0.277920,0.272879,0.304588,0.278415,0.241425,0.329442,0.221546,0.221546
min,0.000600,0.000000,0.021100,0.034700,0.005100,0.001900,0.113900,0.036000,0.074700,0.092000,...,0.021400,0.042300,0.014500,0.006600,0.033400,0.038800,0.073000,0.006400,0.014300,0.014300
25%,0.555900,0.404300,0.281700,0.276800,0.233300,0.216300,0.224300,0.237400,0.215400,0.215400,...,0.318300,0.319000,0.302800,0.223100,0.184800,0.245300,0.337200,0.164000,0.361800,0.361800
50%,0.756400,0.669100,0.507500,0.479400,0.487900,0.469400,0.339600,0.391200,0.348700,0.367300,...,0.516700,0.483500,0.535400,0.449100,0.421200,0.500600,0.427100,0.383400,0.555300,0.555300
75%,0.922000,0.932000,0.691500,0.684900,0.717900,0.647000,0.566500,0.568600,0.516000,0.723100,...,0.750400,0.711700,0.755200,0.664000,0.756000,0.711700,0.625900,0.684600,0.694800,0.694800
max,1.000000,1.000000,0.984400,0.980000,0.978500,0.999400,0.940900,0.963800,0.905600,0.913700,...,0.980500,0.995900,0.931500,0.992100,0.974000,0.985700,0.991000,0.994900,0.945500,0.945500

In [482]:
# happy_mean.dtypes

In [483]:
happy_mean.describe()

,No,hp2,h_mean,e_mean,s_mean,ed_mean,sf_mean,l_mean,en_mean,hp3
count,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000,229.000000
mean,115.000000,0.447582,0.403448,0.388628,0.467607,0.538540,0.456046,0.460965,0.578403,0.493799
std,66.250786,0.085191,0.181455,0.211230,0.198333,0.235005,0.191898,0.230712,0.184148,0.268243
min,1.000000,0.232900,0.005500,0.008600,0.009400,0.013900,0.031100,0.023800,0.068900,0.004900
25%,58.000000,0.393100,0.266600,0.225000,0.334000,0.367400,0.313600,0.273700,0.456300,0.293000
50%,115.000000,0.444000,0.389400,0.376900,0.464400,0.555700,0.446100,0.447800,0.601100,0.487900
75%,172.000000,0.497100,0.523700,0.511900,0.611700,0.726200,0.603700,0.652000,0.714900,0.699300
max,229.000000,0.807400,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [484]:
city2=city_2.append(happy_city3)
city2

,0,1,2,3,4,5,6,7,8,9,...,219,220,221,222,223,224,225,226,227,228
city2,종로구,중구,용산구,성동구,광진구,동대문구,중랑구,성북구,강북구,도봉구,...,창녕군,고성군,남해군,하동군,산청군,함양군,거창군,합천군,제주시,서귀포시
h_mean,0.922,0.6742,0.5898,0.4794,0.6373,0.6024,0.5225,0.4177,0.3987,0.4683,...,0.6022,0.4364,0.2455,0.2093,0.3469,0.2036,0.215,0.2128,0.2537,0.2537
h1,0.8424,0.5772,0.9819,0.5465,0.8534,0.2113,0.775,0.5342,0.4107,0.1812,...,0.7151,0.2113,0.0325,0.1295,0.1328,0.0413,0.4107,0.036,0.4969,0.4969
h2,0.6914,0.4106,0.3353,0.3321,0.7393,0.4476,0.5212,0.2942,0.4917,0.9137,...,0.4069,0.9959,0.6019,0.5549,0.7321,0.9857,0.4134,0.5756,0.3854,0.3854
h3,1,0.9995,0.6046,0.5783,0.6352,0.8601,0.4325,0.5215,0.3996,0.3673,...,0.4559,0.3594,0.3563,0.3515,0.3299,0.3253,0.3705,0.3834,0.4609,0.4609
h4,0.9697,0.9669,0.9844,0.9776,0.8022,0.9438,0.8506,0.8552,0.8529,0.8767,...,0.5366,0.219,0.6031,0.1413,0.8865,0.1775,0.073,0.032,0.2527,0.2527
h5,0.7616,0.4043,0.1433,0.2111,0.1936,0.6329,0.2243,0.2149,0.1955,0.2662,...,0.9805,0.7027,0.1961,0.4802,0.0794,0.1068,0.4106,0.6432,0.224,0.224
e_mean,1,0.9806,0.6915,0.6533,0.4445,0.477,0.248,0.2732,0.1313,0.2104,...,0.3175,0.3232,0.199,0.1811,0.1208,0.1401,0.1799,0.0373,0.425,0.425
e1,1,1,0.6334,0.5132,0.2906,0.33,0.2199,0.2374,0.2096,0.2045,...,0.5167,0.6625,0.324,0.6457,0.3852,0.3423,0.4873,0.3264,0.4048,0.4048
e2,1,1,0.5493,0.5368,0.3424,0.5651,0.3396,0.2213,0.2527,0.2154,...,0.5085,0.4835,0.6573,0.4491,0.5021,0.513,0.4147,0.3722,0.5553,0.5553
e3,1,1,0.7282,0.6849,0.387,0.474,0.2525,0.2448,0.2163,0.1983,...,0.4678,0.4361,0.3803,0.3019,0.3569,0.3566,0.3362,0.2689,0.4624,0.4624
e4,0.7564,0.6718,0.791,0.8243,0.8681,0.6507,0.5419,0.74,0.3006,0.7167,...,0.3466,0.3466,0.3028,0.2453,0.1594,0.2453,0.3372,0.1788,0.5571,0.5571
e5,0.9037,0.9177,0.8341,0.8377,0.748,0.7347,0.5665,0.5686,0.516,0.4483,...,0.3341,0.2658,0.0774,0.0345,0.0534,0.07,0.097,0.0064,0.5856,0.5856
s_mean,0.7425,0.4608,0.4317,0.4182,0.3519,0.1339,0.2511,0.3539,0.0893,0.5292,...,0.3526,0.2248,0.3728,0.6235,0.3351,0.2192,0.5717,0.051,0.6107,0.6107
s1,0.8318,0.5462,0.7288,0.7288,0.9434,0.6459,0.6059,0.7516,0.4295,0.8072,...,0.1985,0.574,0.8597,0.717,0.0334,0.3443,0.3751,0.0255,0.7249,0.7249
s2,0.0057,0.0107,0.0211,0.0791,0.0051,0.0155,0.2462,0.1311,0.28,0.7646,...,0.7646,0.771,0.9315,0.8287,0.7772,0.8339,0.863,0.8998,0.3158,0.3158
s3,0.7593,0.7254,0.7754,0.8332,0.8541,0.7647,0.7538,0.8007,0.6578,0.737,...,0.0923,0.0982,0.0145,0.0736,0.0435,0.0388,0.1247,0.0076,0.7806,0.7806
s4,0.9981,1,0.7194,0.6783,0.2461,0.1916,0.2771,0.3912,0.1834,0.2784,...,0.2717,0.3197,0.0906,0.8631,0.723,0.4276,0.991,0.2023,0.6912,0.6912
s5,0.5949,0.2329,0.2009,0.0937,0.2058,0.1147,0.1301,0.1845,0.0747,0.092,...,0.9289,0.1873,0.4082,0.4224,0.637,0.2919,0.4271,0.3988,0.3618,0.3618
ed_mean,0.6839,0.5013,0.2679,0.2464,0.4879,0.5119,0.1537,0.4649,0.1063,0.4725,...,0.308,0.6217,0.6532,0.3184,0.4212,0.5064,0.8178,0.164,0.6468,0.6468
ed1,0.8505,0.8729,0.6479,0.7661,0.9309,0.982,0.6662,0.9638,0.4979,0.6128,...,0.1465,0.1291,0.2138,0.0701,0.0593,0.1248,0.5177,0.0475,0.7505,0.7505
ed2,0.6248,0.4147,0.3804,0.227,0.4263,0.647,0.5087,0.5675,0.5205,0.8863,...,0.1347,0.3692,0.4263,0.2011,0.1848,0.2642,0.438,0.1621,0.4032,0.4032
ed3,0.2249,0.2294,0.1281,0.1308,0.1278,0.1325,0.1139,0.1487,0.1031,0.1271,...,0.7859,0.816,0.8073,0.8505,0.9478,0.7779,0.7091,0.9273,0.3291,0.3291
ed4,0.8126,0.2944,0.1629,0.3366,0.4607,0.3491,0.1587,0.3618,0.1587,0.3182,...,0.2547,0.5284,0.3243,0.2231,0.1211,0.3062,0.5621,0.2386,0.6658,0.6658
sf_mean,0.747,0.932,0.5537,0.5347,0.6072,0.648,0.5424,0.463,0.6119,0.4675,...,0.698,0.7044,0.7821,0.4709,0.4006,0.7012,0.4392,0.4268,0.4461,0.4461
sf1,0.9965,0.9707,0.6641,0.7452,0.7179,0.6961,0.4411,0.5254,0.5098,0.7231,...,0.6816,0.6662,0.8405,0.5262,0.6142,0.7924,0.9213,0.4158,0.308,0.308
sf2,0.4796,0.8214,0.4311,0.433,0.2196,0.3229,0.3033,0.3067,0.3487,0.3321,...,0.9377,0.4841,0.6521,0.664,0.211,0.5686,0.3292,0.6344,0.7366,0.7366
sf3,0.7498,0.6938,0.1768,0.1562,0.2019,0.4239,0.2415,0.1401,0.2154,0.151,...,0.8582,0.9351,0.6641,0.6175,0.7874,0.7219,0.4718,0.6381,0.2785,0.2785
sf4,0.9998,1,0.8923,0.98,0.9785,0.9994,0.9409,0.9248,0.9056,0.9102,...,0.3183,0.319,0.3247,0.3186,0.3066,0.3123,0.3107,0.308,0.3199,0.3199
sf5,0.0162,0.3014,0.5075,0.3014,0.7117,0.5075,0.7117,0.5075,0.8638,0.3014,...,0.3014,0.7117,0.8638,0.3014,0.3014,0.7117,0.3014,0.3014,0.7117,0.7117
l_mean,0.6331,0.6691,0.2817,0.3257,0.3313,0.2329,0.1831,0.267,0.2337,0.3076,...,0.4935,0.4154,0.5354,0.4708,0.7607,0.6758,0.4838,0.79,0.6948,0.6948
l1,0.8409,0.6224,0.6381,0.5657,0.674,0.5115,0.5393,0.6416,0.362,0.8769,...,0.0214,0.0423,0.1447,0.0066,0.1817,0.1656,0.2433,0.1084,0.8585,0.8585
l2,0.1573,0.1467,0.1628,0.1859,0.1443,0.1522,0.1413,0.1529,0.1386,0.1501,...,0.824,0.8085,0.6785,0.9092,0.9478,0.9794,0.9304,0.9748,0.2026,0.2026
l3,0.4523,0.5369,0.2453,0.359,0.2333,0.1821,0.2471,0.3709,0.4622,0.364,...,0.6537,0.3058,0.7552,0.4461,0.756,0.9257,0.4775,0.9949,0.9455,0.9455
l4,0.9997,0.8441,0.3715,0.2768,0.2058,0.2163,0.1607,0.2655,0.2449,0.2376,...,0.6104,0.7708,0.5552,0.6865,0.974,0.5006,0.4135,0.6226,0.8464,0.8464
l5,0.5559,0.9886,0.2934,0.4859,0.6365,0.4694,0.2594,0.2261,0.3264,0.1778,...,0.382,0.2766,0.5126,0.3596,0.6169,0.5919,0.3913,0.8836,0.3805,0.3805
en_mean,0.4637,0.2865,0.503,0.4196,0.4992,0.3075,0.5523,0.4991,0.6812,0.5545,...,0.8946,0.8042,0.841,0.7235,0.8105,0.7717,0.7998,0.9117,0.6842,0.6842
en1,0.4658,0.1077,0.3142,0.148,0.1229,0.0245,0.1917,0.151,0.2646,0.2103,...,0.7612,0.8818,0.8801,0.9135,0.9499,0.5959,0.961,0.9261,0.6287,0.6287
en2,0.7223,0.6957,0.7185,0.6868,0.694,0.7264,0.731,0.7292,0.7319,0.7324,...,0.6736,0.6433,0.7227,0.7093,0.702,0.6811,0.6259,0.6846,0.6799,0.6799
en3,0.2012,0.0013,0.1349,0.0347,0.0574,0.0019,0.1215,0.036,0.283,0.2838,...,0.7475,0.3509,0.8591,0.1054,0.4563,0.7924,0.7579,0.8187,0.7994,0.7994
en4,0.7704,0.6617,0.6895,0.3757,0.7235,0.3868,0.7614,0.5952,0.8868,0.4556,...,0.915,0.8992,0.9245,0.9921,0.8849,0.762,0.7415,0.9019,0.9016,0.9016
en5,0.0006,0,0.4571,0.7426,0.7016,0.409,0.7016,0.7876,0.8458,0.8339,...,0.7504,0.7183,0.2512,0.4571,0.5254,0.5351,0.3901,0.5834,0.0143,0.0143

In [485]:
happy_mean2=happy_mean.T

In [486]:
happy_mean2.keys

<bound method NDFrame.keys of             0       1       2       3       4       5       6       7    \
No            1       2       3       4       5       6       7       8
city      서울특별시   서울특별시   서울특별시   서울특별시   서울특별시   서울특별시   서울특별시   서울특별시
city2       종로구      중구     용산구     성동구     광진구    동대문구     중랑구     성북구
hp1           a       a       a       c       b       b       e       d
hp2      0.8074  0.6939   0.531  0.4751  0.5317  0.4921  0.4057  0.3999
h_mean    0.922  0.6742  0.5898  0.4794  0.6373  0.6024  0.5225  0.4177
e_mean        1  0.9806  0.6915  0.6533  0.4445   0.477   0.248  0.2732
s_mean   0.7425  0.4608  0.4317  0.4182  0.3519  0.1339  0.2511  0.3539
ed_mean  0.6839  0.5013  0.2679  0.2464  0.4879  0.5119  0.1537  0.4649
sf_mean   0.747   0.932  0.5537  0.5347  0.6072   0.648  0.5424   0.463
l_mean   0.6331  0.6691  0.2817  0.3257  0.3313  0.2329  0.1831   0.267
en_mean  0.4637  0.2865   0.503  0.4196  0.4992  0.3075  0.5523  0.4991
hp3      0.4437  0.4976  0.6161  0.4729  0.4041  0.5842  0.1058  0.6382

            8       9     ...        219     220     221     222     223  \
No            9      10   ...        220     221     222     223     224
city      서울특별시   서울특별시   ...       경상남도    경상남도    경상남도    경상남도    경상남도
city2       강북구     도봉구   ...        창녕군     고성군     남해군     하동군     산청군
hp1           e       d   ...          a       b       d       d       c
hp2      0.3535  0.4297   ...      0.544  0.4971  0.4495  0.3563  0.3934
h_mean   0.3987  0.4683   ...     0.6022  0.4364  0.2455  0.2093  0.3469
e_mean   0.1313  0.2104   ...     0.3175  0.3232   0.199  0.1811  0.1208
s_mean   0.0893  0.5292   ...     0.3526  0.2248  0.3728  0.6235  0.3351
ed_mean  0.1063  0.4725   ...      0.308  0.6217  0.6532  0.3184  0.4212
sf_mean  0.6119  0.4675   ...      0.698  0.7044  0.7821  0.4709  0.4006
l_mean   0.2337  0.3076   ...     0.4935  0.4154  0.5354  0.4708  0.7607
en_mean  0.6812  0.5545   ...     0.8946  0.8042   0.841  0.7235  0.8105
hp3      0.0461  0.2171   ...     0.6515  0.4098  0.3203  0.6993  0.9355

            224     225     226      227      228
No          225     226     227      228      229
city       경상남도    경상남도    경상남도  제주특별자치도  제주특별자치도
city2       함양군     거창군     합천군      제주시     서귀포시
hp1           c       d       e        b        b
hp2      0.3867  0.4061  0.3021   0.4481   0.4481
h_mean   0.2036   0.215  0.2128   0.2537   0.2537
e_mean   0.1401  0.1799  0.0373    0.425    0.425
s_mean   0.2192  0.5717   0.051   0.6107   0.6107
ed_mean  0.5064  0.8178   0.164   0.6468   0.6468
sf_mean  0.7012  0.4392  0.4268   0.4461   0.4461
l_mean   0.6758  0.4838    0.79   0.6948   0.6948
en_mean  0.7717  0.7998  0.9117   0.6842   0.6842
hp3      0.9565  0.6163  0.8057   0.7113   0.7113

[13 rows x 229 columns]>

In [487]:
mean=happy_mean2.drop(['No','city'])

In [488]:
# mean

In [489]:
# mean.dtypes

In [490]:
city4=city2.rename(columns=city2.iloc[0])
city2=city4.drop(city4.index[0])

In [491]:
city2 = city2.astype(float)

In [492]:
city2.describe()

,종로구,중구,용산구,성동구,광진구,동대문구,중랑구,성북구,강북구,도봉구,...,창녕군,고성군,남해군,하동군,산청군,함양군,거창군,합천군,제주시,서귀포시
count,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,...,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000,41.000000
mean,0.688495,0.613939,0.496751,0.474885,0.498590,0.454554,0.417834,0.434934,0.399832,0.457612,...,0.535349,0.507790,0.508924,0.453515,0.476978,0.473854,0.491034,0.442017,0.531254,0.531254
std,0.297933,0.323215,0.256791,0.256465,0.277727,0.268767,0.237753,0.243331,0.244058,0.263687,...,0.262430,0.256173,0.277920,0.272879,0.304588,0.278415,0.241425,0.329442,0.221546,0.221546
min,0.000600,0.000000,0.021100,0.034700,0.005100,0.001900,0.113900,0.036000,0.074700,0.092000,...,0.021400,0.042300,0.014500,0.006600,0.033400,0.038800,0.073000,0.006400,0.014300,0.014300
25%,0.555900,0.404300,0.281700,0.276800,0.233300,0.216300,0.224300,0.237400,0.215400,0.215400,...,0.318300,0.319000,0.302800,0.223100,0.184800,0.245300,0.337200,0.164000,0.361800,0.361800
50%,0.756400,0.669100,0.507500,0.479400,0.487900,0.469400,0.339600,0.391200,0.348700,0.367300,...,0.516700,0.483500,0.535400,0.449100,0.421200,0.500600,0.427100,0.383400,0.555300,0.555300
75%,0.922000,0.932000,0.691500,0.684900,0.717900,0.647000,0.566500,0.568600,0.516000,0.723100,...,0.750400,0.711700,0.755200,0.664000,0.756000,0.711700,0.625900,0.684600,0.694800,0.694800
max,1.000000,1.000000,0.984400,0.980000,0.978500,0.999400,0.940900,0.963800,0.905600,0.913700,...,0.980500,0.995900,0.931500,0.992100,0.974000,0.985700,0.991000,0.994900,0.945500,0.945500

In [493]:
mean2=mean.rename(columns=mean.iloc[0])
mean=mean2.drop(mean2.index[0])

In [494]:
mean

,종로구,중구,용산구,성동구,광진구,동대문구,중랑구,성북구,강북구,도봉구,...,창녕군,고성군,남해군,하동군,산청군,함양군,거창군,합천군,제주시,서귀포시
hp1,a,a,a,c,b,b,e,d,e,d,...,a,b,d,d,c,c,d,e,b,b
hp2,0.8074,0.6939,0.531,0.4751,0.5317,0.4921,0.4057,0.3999,0.3535,0.4297,...,0.544,0.4971,0.4495,0.3563,0.3934,0.3867,0.4061,0.3021,0.4481,0.4481
h_mean,0.922,0.6742,0.5898,0.4794,0.6373,0.6024,0.5225,0.4177,0.3987,0.4683,...,0.6022,0.4364,0.2455,0.2093,0.3469,0.2036,0.215,0.2128,0.2537,0.2537
e_mean,1,0.9806,0.6915,0.6533,0.4445,0.477,0.248,0.2732,0.1313,0.2104,...,0.3175,0.3232,0.199,0.1811,0.1208,0.1401,0.1799,0.0373,0.425,0.425
s_mean,0.7425,0.4608,0.4317,0.4182,0.3519,0.1339,0.2511,0.3539,0.0893,0.5292,...,0.3526,0.2248,0.3728,0.6235,0.3351,0.2192,0.5717,0.051,0.6107,0.6107
ed_mean,0.6839,0.5013,0.2679,0.2464,0.4879,0.5119,0.1537,0.4649,0.1063,0.4725,...,0.308,0.6217,0.6532,0.3184,0.4212,0.5064,0.8178,0.164,0.6468,0.6468
sf_mean,0.747,0.932,0.5537,0.5347,0.6072,0.648,0.5424,0.463,0.6119,0.4675,...,0.698,0.7044,0.7821,0.4709,0.4006,0.7012,0.4392,0.4268,0.4461,0.4461
l_mean,0.6331,0.6691,0.2817,0.3257,0.3313,0.2329,0.1831,0.267,0.2337,0.3076,...,0.4935,0.4154,0.5354,0.4708,0.7607,0.6758,0.4838,0.79,0.6948,0.6948
en_mean,0.4637,0.2865,0.503,0.4196,0.4992,0.3075,0.5523,0.4991,0.6812,0.5545,...,0.8946,0.8042,0.841,0.7235,0.8105,0.7717,0.7998,0.9117,0.6842,0.6842
hp3,0.4437,0.4976,0.6161,0.4729,0.4041,0.5842,0.1058,0.6382,0.0461,0.2171,...,0.6515,0.4098,0.3203,0.6993,0.9355,0.9565,0.6163,0.8057,0.7113,0.7113

In [495]:
type(mean)

pandas.core.frame.DataFrame

In [496]:
city2_mean = mean

In [497]:
city2_mean.describe()

,종로구,중구,용산구,성동구,광진구,동대문구,중랑구,성북구,강북구,도봉구,...,창녕군,고성군,남해군,하동군,산청군,함양군,거창군,합천군,제주시,서귀포시
count,10.0,10.0000,10.0000,10,10.0000,10.0000,10.0000,10,10.0000,10.0000,...,10.0000,10.0000,10,10,10.0000,10,10,10.0000,10.0000,10.0000
unique,10.0,10.0000,10.0000,10,10.0000,10.0000,10.0000,10,10.0000,10.0000,...,10.0000,10.0000,10,10,10.0000,10,10,10.0000,10.0000,10.0000
top,1.0,0.4976,0.6161,c,0.4041,0.1339,0.1831,d,0.0461,0.2171,...,0.6515,0.4098,d,d,0.1208,c,d,0.8057,0.7113,0.7113
freq,1.0,1.0000,1.0000,1,1.0000,1.0000,1.0000,1,1.0000,1.0000,...,1.0000,1.0000,1,1,1.0000,1,1,1.0000,1.0000,1.0000

In [498]:
city2_mean.head()

,종로구,중구,용산구,성동구,광진구,동대문구,중랑구,성북구,강북구,도봉구,...,창녕군,고성군,남해군,하동군,산청군,함양군,거창군,합천군,제주시,서귀포시
hp1,a,a,a,c,b,b,e,d,e,d,...,a,b,d,d,c,c,d,e,b,b
hp2,0.8074,0.6939,0.531,0.4751,0.5317,0.4921,0.4057,0.3999,0.3535,0.4297,...,0.544,0.4971,0.4495,0.3563,0.3934,0.3867,0.4061,0.3021,0.4481,0.4481
h_mean,0.922,0.6742,0.5898,0.4794,0.6373,0.6024,0.5225,0.4177,0.3987,0.4683,...,0.6022,0.4364,0.2455,0.2093,0.3469,0.2036,0.215,0.2128,0.2537,0.2537
e_mean,1,0.9806,0.6915,0.6533,0.4445,0.477,0.248,0.2732,0.1313,0.2104,...,0.3175,0.3232,0.199,0.1811,0.1208,0.1401,0.1799,0.0373,0.425,0.425
s_mean,0.7425,0.4608,0.4317,0.4182,0.3519,0.1339,0.2511,0.3539,0.0893,0.5292,...,0.3526,0.2248,0.3728,0.6235,0.3351,0.2192,0.5717,0.051,0.6107,0.6107

In [499]:
city2.head()

,종로구,중구,용산구,성동구,광진구,동대문구,중랑구,성북구,강북구,도봉구,...,창녕군,고성군,남해군,하동군,산청군,함양군,거창군,합천군,제주시,서귀포시
h_mean,0.9220,0.6742,0.5898,0.4794,0.6373,0.6024,0.5225,0.4177,0.3987,0.4683,...,0.6022,0.4364,0.2455,0.2093,0.3469,0.2036,0.2150,0.2128,0.2537,0.2537
h1,0.8424,0.5772,0.9819,0.5465,0.8534,0.2113,0.7750,0.5342,0.4107,0.1812,...,0.7151,0.2113,0.0325,0.1295,0.1328,0.0413,0.4107,0.0360,0.4969,0.4969
h2,0.6914,0.4106,0.3353,0.3321,0.7393,0.4476,0.5212,0.2942,0.4917,0.9137,...,0.4069,0.9959,0.6019,0.5549,0.7321,0.9857,0.4134,0.5756,0.3854,0.3854
h3,1.0000,0.9995,0.6046,0.5783,0.6352,0.8601,0.4325,0.5215,0.3996,0.3673,...,0.4559,0.3594,0.3563,0.3515,0.3299,0.3253,0.3705,0.3834,0.4609,0.4609
h4,0.9697,0.9669,0.9844,0.9776,0.8022,0.9438,0.8506,0.8552,0.8529,0.8767,...,0.5366,0.2190,0.6031,0.1413,0.8865,0.1775,0.0730,0.0320,0.2527,0.2527

In [500]:

city2 = city2.drop(['h_mean','e_mean','s_mean','ed_mean','sf_mean','l_mean','en_mean'])

In [501]:
city2

,종로구,중구,용산구,성동구,광진구,동대문구,중랑구,성북구,강북구,도봉구,...,창녕군,고성군,남해군,하동군,산청군,함양군,거창군,합천군,제주시,서귀포시
h1,0.8424,0.5772,0.9819,0.5465,0.8534,0.2113,0.7750,0.5342,0.4107,0.1812,...,0.7151,0.2113,0.0325,0.1295,0.1328,0.0413,0.4107,0.0360,0.4969,0.4969
h2,0.6914,0.4106,0.3353,0.3321,0.7393,0.4476,0.5212,0.2942,0.4917,0.9137,...,0.4069,0.9959,0.6019,0.5549,0.7321,0.9857,0.4134,0.5756,0.3854,0.3854
h3,1.0000,0.9995,0.6046,0.5783,0.6352,0.8601,0.4325,0.5215,0.3996,0.3673,...,0.4559,0.3594,0.3563,0.3515,0.3299,0.3253,0.3705,0.3834,0.4609,0.4609
h4,0.9697,0.9669,0.9844,0.9776,0.8022,0.9438,0.8506,0.8552,0.8529,0.8767,...,0.5366,0.2190,0.6031,0.1413,0.8865,0.1775,0.0730,0.0320,0.2527,0.2527
h5,0.7616,0.4043,0.1433,0.2111,0.1936,0.6329,0.2243,0.2149,0.1955,0.2662,...,0.9805,0.7027,0.1961,0.4802,0.0794,0.1068,0.4106,0.6432,0.2240,0.2240
e1,1.0000,1.0000,0.6334,0.5132,0.2906,0.3300,0.2199,0.2374,0.2096,0.2045,...,0.5167,0.6625,0.3240,0.6457,0.3852,0.3423,0.4873,0.3264,0.4048,0.4048
e2,1.0000,1.0000,0.5493,0.5368,0.3424,0.5651,0.3396,0.2213,0.2527,0.2154,...,0.5085,0.4835,0.6573,0.4491,0.5021,0.5130,0.4147,0.3722,0.5553,0.5553
e3,1.0000,1.0000,0.7282,0.6849,0.3870,0.4740,0.2525,0.2448,0.2163,0.1983,...,0.4678,0.4361,0.3803,0.3019,0.3569,0.3566,0.3362,0.2689,0.4624,0.4624
e4,0.7564,0.6718,0.7910,0.8243,0.8681,0.6507,0.5419,0.7400,0.3006,0.7167,...,0.3466,0.3466,0.3028,0.2453,0.1594,0.2453,0.3372,0.1788,0.5571,0.5571
e5,0.9037,0.9177,0.8341,0.8377,0.7480,0.7347,0.5665,0.5686,0.5160,0.4483,...,0.3341,0.2658,0.0774,0.0345,0.0534,0.0700,0.0970,0.0064,0.5856,0.5856
s1,0.8318,0.5462,0.7288,0.7288,0.9434,0.6459,0.6059,0.7516,0.4295,0.8072,...,0.1985,0.5740,0.8597,0.7170,0.0334,0.3443,0.3751,0.0255,0.7249,0.7249
s2,0.0057,0.0107,0.0211,0.0791,0.0051,0.0155,0.2462,0.1311,0.2800,0.7646,...,0.7646,0.7710,0.9315,0.8287,0.7772,0.8339,0.8630,0.8998,0.3158,0.3158
s3,0.7593,0.7254,0.7754,0.8332,0.8541,0.7647,0.7538,0.8007,0.6578,0.7370,...,0.0923,0.0982,0.0145,0.0736,0.0435,0.0388,0.1247,0.0076,0.7806,0.7806
s4,0.9981,1.0000,0.7194,0.6783,0.2461,0.1916,0.2771,0.3912,0.1834,0.2784,...,0.2717,0.3197,0.0906,0.8631,0.7230,0.4276,0.9910,0.2023,0.6912,0.6912
s5,0.5949,0.2329,0.2009,0.0937,0.2058,0.1147,0.1301,0.1845,0.0747,0.0920,...,0.9289,0.1873,0.4082,0.4224,0.6370,0.2919,0.4271,0.3988,0.3618,0.3618
ed1,0.8505,0.8729,0.6479,0.7661,0.9309,0.9820,0.6662,0.9638,0.4979,0.6128,...,0.1465,0.1291,0.2138,0.0701,0.0593,0.1248,0.5177,0.0475,0.7505,0.7505
ed2,0.6248,0.4147,0.3804,0.2270,0.4263,0.6470,0.5087,0.5675,0.5205,0.8863,...,0.1347,0.3692,0.4263,0.2011,0.1848,0.2642,0.4380,0.1621,0.4032,0.4032
ed3,0.2249,0.2294,0.1281,0.1308,0.1278,0.1325,0.1139,0.1487,0.1031,0.1271,...,0.7859,0.8160,0.8073,0.8505,0.9478,0.7779,0.7091,0.9273,0.3291,0.3291
ed4,0.8126,0.2944,0.1629,0.3366,0.4607,0.3491,0.1587,0.3618,0.1587,0.3182,...,0.2547,0.5284,0.3243,0.2231,0.1211,0.3062,0.5621,0.2386,0.6658,0.6658
sf1,0.9965,0.9707,0.6641,0.7452,0.7179,0.6961,0.4411,0.5254,0.5098,0.7231,...,0.6816,0.6662,0.8405,0.5262,0.6142,0.7924,0.9213,0.4158,0.3080,0.3080
sf2,0.4796,0.8214,0.4311,0.4330,0.2196,0.3229,0.3033,0.3067,0.3487,0.3321,...,0.9377,0.4841,0.6521,0.6640,0.2110,0.5686,0.3292,0.6344,0.7366,0.7366
sf3,0.7498,0.6938,0.1768,0.1562,0.2019,0.4239,0.2415,0.1401,0.2154,0.1510,...,0.8582,0.9351,0.6641,0.6175,0.7874,0.7219,0.4718,0.6381,0.2785,0.2785
sf4,0.9998,1.0000,0.8923,0.9800,0.9785,0.9994,0.9409,0.9248,0.9056,0.9102,...,0.3183,0.3190,0.3247,0.3186,0.3066,0.3123,0.3107,0.3080,0.3199,0.3199
sf5,0.0162,0.3014,0.5075,0.3014,0.7117,0.5075,0.7117,0.5075,0.8638,0.3014,...,0.3014,0.7117,0.8638,0.3014,0.3014,0.7117,0.3014,0.3014,0.7117,0.7117
l1,0.8409,0.6224,0.6381,0.5657,0.6740,0.5115,0.5393,0.6416,0.3620,0.8769,...,0.0214,0.0423,0.1447,0.0066,0.1817,0.1656,0.2433,0.1084,0.8585,0.8585
l2,0.1573,0.1467,0.1628,0.1859,0.1443,0.1522,0.1413,0.1529,0.1386,0.1501,...,0.8240,0.8085,0.6785,0.9092,0.9478,0.9794,0.9304,0.9748,0.2026,0.2026
l3,0.4523,0.5369,0.2453,0.3590,0.2333,0.1821,0.2471,0.3709,0.4622,0.3640,...,0.6537,0.3058,0.7552,0.4461,0.7560,0.9257,0.4775,0.9949,0.9455,0.9455
l4,0.9997,0.8441,0.3715,0.2768,0.2058,0.2163,0.1607,0.2655,0.2449,0.2376,...,0.6104,0.7708,0.5552,0.6865,0.9740,0.5006,0.4135,0.6226,0.8464,0.8464
l5,0.5559,0.9886,0.2934,0.4859,0.6365,0.4694,0.2594,0.2261,0.3264,0.1778,...,0.3820,0.2766,0.5126,0.3596,0.6169,0.5919,0.3913,0.8836,0.3805,0.3805
en1,0.4658,0.1077,0.3142,0.1480,0.1229,0.0245,0.1917,0.1510,0.2646,0.2103,...,0.7612,0.8818,0.8801,0.9135,0.9499,0.5959,0.9610,0.9261,0.6287,0.6287
en2,0.7223,0.6957,0.7185,0.6868,0.6940,0.7264,0.7310,0.7292,0.7319,0.7324,...,0.6736,0.6433,0.7227,0.7093,0.7020,0.6811,0.6259,0.6846,0.6799,0.6799
en3,0.2012,0.0013,0.1349,0.0347,0.0574,0.0019,0.1215,0.0360,0.2830,0.2838,...,0.7475,0.3509,0.8591,0.1054,0.4563,0.7924,0.7579,0.8187,0.7994,0.7994
en4,0.7704,0.6617,0.6895,0.3757,0.7235,0.3868,0.7614,0.5952,0.8868,0.4556,...,0.9150,0.8992,0.9245,0.9921,0.8849,0.7620,0.7415,0.9019,0.9016,0.9016
en5,0.0006,0.0000,0.4571,0.7426,0.7016,0.4090,0.7016,0.7876,0.8458,0.8339,...,0.7504,0.7183,0.2512,0.4571,0.5254,0.5351,0.3901,0.5834,0.0143,0.0143

In [502]:
city2_mean

,종로구,중구,용산구,성동구,광진구,동대문구,중랑구,성북구,강북구,도봉구,...,창녕군,고성군,남해군,하동군,산청군,함양군,거창군,합천군,제주시,서귀포시
hp1,a,a,a,c,b,b,e,d,e,d,...,a,b,d,d,c,c,d,e,b,b
hp2,0.8074,0.6939,0.531,0.4751,0.5317,0.4921,0.4057,0.3999,0.3535,0.4297,...,0.544,0.4971,0.4495,0.3563,0.3934,0.3867,0.4061,0.3021,0.4481,0.4481
h_mean,0.922,0.6742,0.5898,0.4794,0.6373,0.6024,0.5225,0.4177,0.3987,0.4683,...,0.6022,0.4364,0.2455,0.2093,0.3469,0.2036,0.215,0.2128,0.2537,0.2537
e_mean,1,0.9806,0.6915,0.6533,0.4445,0.477,0.248,0.2732,0.1313,0.2104,...,0.3175,0.3232,0.199,0.1811,0.1208,0.1401,0.1799,0.0373,0.425,0.425
s_mean,0.7425,0.4608,0.4317,0.4182,0.3519,0.1339,0.2511,0.3539,0.0893,0.5292,...,0.3526,0.2248,0.3728,0.6235,0.3351,0.2192,0.5717,0.051,0.6107,0.6107
ed_mean,0.6839,0.5013,0.2679,0.2464,0.4879,0.5119,0.1537,0.4649,0.1063,0.4725,...,0.308,0.6217,0.6532,0.3184,0.4212,0.5064,0.8178,0.164,0.6468,0.6468
sf_mean,0.747,0.932,0.5537,0.5347,0.6072,0.648,0.5424,0.463,0.6119,0.4675,...,0.698,0.7044,0.7821,0.4709,0.4006,0.7012,0.4392,0.4268,0.4461,0.4461
l_mean,0.6331,0.6691,0.2817,0.3257,0.3313,0.2329,0.1831,0.267,0.2337,0.3076,...,0.4935,0.4154,0.5354,0.4708,0.7607,0.6758,0.4838,0.79,0.6948,0.6948
en_mean,0.4637,0.2865,0.503,0.4196,0.4992,0.3075,0.5523,0.4991,0.6812,0.5545,...,0.8946,0.8042,0.841,0.7235,0.8105,0.7717,0.7998,0.9117,0.6842,0.6842
hp3,0.4437,0.4976,0.6161,0.4729,0.4041,0.5842,0.1058,0.6382,0.0461,0.2171,...,0.6515,0.4098,0.3203,0.6993,0.9355,0.9565,0.6163,0.8057,0.7113,0.7113

In [503]:
city2_mean = city2_mean.drop(['hp3'])

In [504]:
city2_mean

,종로구,중구,용산구,성동구,광진구,동대문구,중랑구,성북구,강북구,도봉구,...,창녕군,고성군,남해군,하동군,산청군,함양군,거창군,합천군,제주시,서귀포시
hp1,a,a,a,c,b,b,e,d,e,d,...,a,b,d,d,c,c,d,e,b,b
hp2,0.8074,0.6939,0.531,0.4751,0.5317,0.4921,0.4057,0.3999,0.3535,0.4297,...,0.544,0.4971,0.4495,0.3563,0.3934,0.3867,0.4061,0.3021,0.4481,0.4481
h_mean,0.922,0.6742,0.5898,0.4794,0.6373,0.6024,0.5225,0.4177,0.3987,0.4683,...,0.6022,0.4364,0.2455,0.2093,0.3469,0.2036,0.215,0.2128,0.2537,0.2537
e_mean,1,0.9806,0.6915,0.6533,0.4445,0.477,0.248,0.2732,0.1313,0.2104,...,0.3175,0.3232,0.199,0.1811,0.1208,0.1401,0.1799,0.0373,0.425,0.425
s_mean,0.7425,0.4608,0.4317,0.4182,0.3519,0.1339,0.2511,0.3539,0.0893,0.5292,...,0.3526,0.2248,0.3728,0.6235,0.3351,0.2192,0.5717,0.051,0.6107,0.6107
ed_mean,0.6839,0.5013,0.2679,0.2464,0.4879,0.5119,0.1537,0.4649,0.1063,0.4725,...,0.308,0.6217,0.6532,0.3184,0.4212,0.5064,0.8178,0.164,0.6468,0.6468
sf_mean,0.747,0.932,0.5537,0.5347,0.6072,0.648,0.5424,0.463,0.6119,0.4675,...,0.698,0.7044,0.7821,0.4709,0.4006,0.7012,0.4392,0.4268,0.4461,0.4461
l_mean,0.6331,0.6691,0.2817,0.3257,0.3313,0.2329,0.1831,0.267,0.2337,0.3076,...,0.4935,0.4154,0.5354,0.4708,0.7607,0.6758,0.4838,0.79,0.6948,0.6948
en_mean,0.4637,0.2865,0.503,0.4196,0.4992,0.3075,0.5523,0.4991,0.6812,0.5545,...,0.8946,0.8042,0.841,0.7235,0.8105,0.7717,0.7998,0.9117,0.6842,0.6842

In [505]:
from sklearn.model_selection import train_test_split
 
data = city2_mean.T

x = data[['h_mean', 'e_mean', 's_mean', 'ed_mean','sf_mean','l_mean','en_mean']]
y = data['hp2']
 
# 테스트 데이터 30%
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3)
print(len(x_train))
print(len(x_test))
print(len(y_train))
print(len(y_test))

160
69
160
69

In [506]:
y_ytrain = y_train*100
y_ytrain = y_ytrain.astype('int')

In [507]:
y_ytest = y_test*100
y_ytest = y_ytest.astype('int')

In [508]:
y_ytrain

중구      56
거창군     40
송파구     54
영천시     33
광산구     44
화성시     47
강서구     36
아산시     44
완주군     46
세종시     39
구례군     57
밀양시     42
서구      54
달성군     43
북구      36
강화군     39
무주군     45
진천군     43
강진군     46
여주시     41
광명시     47
남원시     48
보령시     29
태백시     42
울주군     59
구미시     34
도봉구     42
사하구     31
동래구     52
장흥군     34
        ..
연천군     37
수원시     47
동두천시    47
합천군     30
영광군     45
단양군     49
용산구     53
청주시     47
영덕군     30
중구      60
문경시     37
화천군     49
담양군     48
홍성군     47
창원시     44
강서구     33
진도군     36
이천시     40
안성시     36
김해시     40
중구      51
안양시     51
남해군     44
남양주시    36
동구      62
전주시     48
의성군     31
사천시     41
당진시     26
청양군     48
Name: hp2, Length: 160, dtype: int32

In [509]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics     
# 학습 진행
forest = RandomForestClassifier(n_estimators=100)
forest.fit(x_train, y_ytrain)

# y_train의 값이 0,1의 값이어야 함 
# 예측
y_pred = forest.predict(x_test)
print(y_pred)
print(list(y_ytest))

# 정확도 확인
print('정확도 :', metrics.accuracy_score(y_ytest, y_pred))

[48 36 48 34 47 50 49 44 32 48 41 41 43 52 37 53 47 41 40 53 47 36 36 39
 38 40 40 40 36 40 62 63 49 46 42 38 42 36 44 44 52 40 47 36 45 36 44 49
 46 41 44 49 49 42 40 42 40 36 53 60 36 49 49 46 49 42 47 42 49]
[39, 35, 52, 38, 43, 53, 43, 44, 33, 48, 38, 40, 40, 50, 39, 52, 47, 41, 46, 51, 54, 30, 30, 44, 52, 37, 40, 53, 38, 40, 60, 57, 44, 51, 43, 32, 46, 52, 45, 47, 49, 44, 41, 39, 39, 40, 46, 47, 45, 34, 44, 51, 42, 39, 37, 48, 42, 35, 57, 56, 29, 50, 47, 48, 44, 39, 54, 43, 47]
정확도 : 0.10144927536231885

In [510]:
data['hp2'].values

array([0.8074, 0.6939, 0.531, 0.4751, 0.5317, 0.4921, 0.4057, 0.3999,
       0.3535, 0.4297, 0.4307, 0.3513, 0.5715, 0.5362, 0.5178, 0.3693,
       0.5316, 0.4713, 0.6246, 0.3712, 0.4034, 0.6024, 0.6281, 0.5453,
       0.5229, 0.6036, 0.5329, 0.5317, 0.3518, 0.447, 0.5237, 0.4276,
       0.3637, 0.3915, 0.3179, 0.4617, 0.3303, 0.4199, 0.4172, 0.4032,
       0.4738, 0.7384, 0.3053, 0.2329, 0.5006, 0.3691, 0.4426, 0.3858,
       0.4399, 0.5146, 0.5439, 0.4042, 0.3699, 0.3356, 0.4205, 0.3615,
       0.3136, 0.3915, 0.4052, 0.6208, 0.5468, 0.5372, 0.4835, 0.4431,
       0.4377, 0.5682, 0.5625, 0.6076, 0.4655, 0.4424, 0.5461, 0.5202,
       0.4811, 0.5998, 0.3914, 0.4786, 0.5348, 0.5007, 0.5168, 0.4829,
       0.4777, 0.3239, 0.4757, 0.402, 0.44299999999999995, 0.6183, 0.5199,
       0.3663, 0.4136, 0.4134, 0.5147, 0.4905, 0.3575,
       0.45899999999999996, 0.4072, 0.4087, 0.3666, 0.4002, 0.4747,
       0.4006, 0.3748, 0.3931, 0.4128, 0.3737, 0.5087, 0.3617, 0.5131,
       0.444, 0.4593, 0.4583, 0.4203, 0.4749, 0.4945, 0.4373, 0.4612,
       0.5245, 0.3656, 0.495, 0.3997, 0.4934, 0.47, 0.48100000000000004,
       0.3936, 0.4291, 0.4108, 0.4359, 0.473, 0.4807, 0.6326, 0.5235,
       0.4398, 0.475, 0.5294, 0.4979, 0.4095, 0.5371, 0.5381, 0.2972,
       0.4496, 0.3553, 0.4954, 0.5473, 0.2609, 0.5935, 0.4789, 0.4688,
       0.4801, 0.4723, 0.435, 0.3762, 0.4846, 0.3425, 0.4427, 0.4237,
       0.4861, 0.3182, 0.4625, 0.4866, 0.4523, 0.3977, 0.4464, 0.4102,
       0.4453, 0.39899999999999997, 0.5435, 0.4096, 0.506, 0.4338, 0.3929,
       0.4838, 0.4942, 0.5721, 0.429, 0.4684, 0.575, 0.3458, 0.4694,
       0.4012, 0.3883, 0.5074, 0.5529, 0.4561, 0.4773, 0.3855, 0.3641,
       0.3048, 0.40399999999999997, 0.4033, 0.3422, 0.4608, 0.344, 0.4043,
       0.3331, 0.4034, 0.3713, 0.4477, 0.27699999999999997, 0.3102,
       0.3882, 0.3274, 0.3087, 0.3616, 0.4033, 0.4443, 0.4604, 0.2941,
       0.3097, 0.2951, 0.5255, 0.4988, 0.3843, 0.4109, 0.4038, 0.425,
       0.3332, 0.496, 0.4422, 0.474, 0.5133, 0.544, 0.4971, 0.4495,
       0.3563, 0.3934, 0.3867, 0.4061, 0.3021, 0.4481, 0.4481],
      dtype=object)

In [511]:
for i in data['hp2'].values:
    if 0.20 >i:
        print(i,'e')
    elif 0.40> i:
        print(i,'d')      
    elif 0.60> i:
        print(i,'c')
    elif 0.80> i:
        print(i,'b')
    elif 1.0> i:
        print(i,'a')

0.8074 a
0.6939 b
0.531 c
0.4751 c
0.5317 c
0.4921 c
0.4057 c
0.3999 d
0.3535 d
0.4297 c
0.4307 c
0.3513 d
0.5715 c
0.5362 c
0.5178 c
0.3693 d
0.5316 c
0.4713 c
0.6246 b
0.3712 d
0.4034 c
0.6024 b
0.6281 b
0.5453 c
0.5229 c
0.6036 b
0.5329 c
0.5317 c
0.3518 d
0.447 c
0.5237 c
0.4276 c
0.3637 d
0.3915 d
0.3179 d
0.4617 c
0.3303 d
0.4199 c
0.4172 c
0.4032 c
0.4738 c
0.7384 b
0.3053 d
0.2329 d
0.5006 c
0.3691 d
0.4426 c
0.3858 d
0.4399 c
0.5146 c
0.5439 c
0.4042 c
0.3699 d
0.3356 d
0.4205 c
0.3615 d
0.3136 d
0.3915 d
0.4052 c
0.6208 b
0.5468 c
0.5372 c
0.4835 c
0.4431 c
0.4377 c
0.5682 c
0.5625 c
0.6076 b
0.4655 c
0.4424 c
0.5461 c
0.5202 c
0.4811 c
0.5998 c
0.3914 d
0.4786 c
0.5348 c
0.5007 c
0.5168 c
0.4829 c
0.4777 c
0.3239 d
0.4757 c
0.402 c
0.44299999999999995 c
0.6183 b
0.5199 c
0.3663 d
0.4136 c
0.4134 c
0.5147 c
0.4905 c
0.3575 d
0.45899999999999996 c
0.4072 c
0.4087 c
0.3666 d
0.4002 c
0.4747 c
0.4006 c
0.3748 d
0.3931 d
0.4128 c
0.3737 d
0.5087 c
0.3617 d
0.5131 c
0.444 c
0.4593 c
0.4583 c
0.4203 c
0.4749 c
0.4945 c
0.4373 c
0.4612 c
0.5245 c
0.3656 d
0.495 c
0.3997 d
0.4934 c
0.47 c
0.48100000000000004 c
0.3936 d
0.4291 c
0.4108 c
0.4359 c
0.473 c
0.4807 c
0.6326 b
0.5235 c
0.4398 c
0.475 c
0.5294 c
0.4979 c
0.4095 c
0.5371 c
0.5381 c
0.2972 d
0.4496 c
0.3553 d
0.4954 c
0.5473 c
0.2609 d
0.5935 c
0.4789 c
0.4688 c
0.4801 c
0.4723 c
0.435 c
0.3762 d
0.4846 c
0.3425 d
0.4427 c
0.4237 c
0.4861 c
0.3182 d
0.4625 c
0.4866 c
0.4523 c
0.3977 d
0.4464 c
0.4102 c
0.4453 c
0.39899999999999997 d
0.5435 c
0.4096 c
0.506 c
0.4338 c
0.3929 d
0.4838 c
0.4942 c
0.5721 c
0.429 c
0.4684 c
0.575 c
0.3458 d
0.4694 c
0.4012 c
0.3883 d
0.5074 c
0.5529 c
0.4561 c
0.4773 c
0.3855 d
0.3641 d
0.3048 d
0.40399999999999997 c
0.4033 c
0.3422 d
0.4608 c
0.344 d
0.4043 c
0.3331 d
0.4034 c
0.3713 d
0.4477 c
0.27699999999999997 d
0.3102 d
0.3882 d
0.3274 d
0.3087 d
0.3616 d
0.4033 c
0.4443 c
0.4604 c
0.2941 d
0.3097 d
0.2951 d
0.5255 c
0.4988 c
0.3843 d
0.4109 c
0.4038 c
0.425 c
0.3332 d
0.496 c
0.4422 c
0.474 c
0.5133 c
0.544 c
0.4971 c
0.4495 c
0.3563 d
0.3934 d
0.3867 d
0.4061 c
0.3021 d
0.4481 c
0.4481 c

In [512]:
data['rating'] = 'X'

#이터레이터 공부해야함 
for index, row in data.iterrows():
    if 0.20 >row['hp2']:
        data.loc[index, ['rating']] = 'e'
    elif 0.40> row['hp2']:
        data.loc[index, ['rating']] = 'd'   
    elif 0.60> row['hp2']:
        data.loc[index, ['rating']] = 'c'
    elif 0.80> row['hp2']:
        data.loc[index, ['rating']] = 'b'
    elif 1.0> row['hp2']:
        data.loc[index, ['rating']] = 'a'

In [513]:
data.corr()

Empty DataFrame
Columns: []
Index: []

In [514]:
data["hp3"] = mean.loc['hp3']

In [515]:
data['hp1'] = happy_mean['hp1'].values

In [516]:
data['hp2']['원주시']

0.444

In [517]:
from sklearn.model_selection import train_test_split
 
x = data[['hp2','hp3']]
y = data['hp1']
 
# 테스트 데이터 30%
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3,random_state=999)
print(len(x_train))
print(len(x_test))
print(len(y_train))
print(len(y_test))

160
69
160
69

In [518]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics    
# 학습 진행
forest = RandomForestClassifier(n_estimators=100)
forest.fit(x_train, y_train)
# y_train의 값이 0,1의 값이어야 함 
# 예측
y_pred = forest.predict(x_test)
print(y_pred)
print(list(y_test))
# 정확도 확인
# forest.score(x_train,y_train)
forest.score(x_test,y_test)
print('정확도 :', metrics.accuracy_score(y_test, y_pred))



joblib.dump(forest,'./forest_yd.pkl')

['c' 'a' 'c' 'e' 'b' 'e' 'a' 'a' 'a' 'd' 'd' 'e' 'd' 'd' 'e' 'e' 'd' 'b'
 'c' 'd' 'c' 'c' 'e' 'b' 'a' 'e' 'c' 'e' 'c' 'b' 'a' 'b' 'd' 'e' 'b' 'd'
 'a' 'b' 'b' 'c' 'd' 'd' 'c' 'e' 'b' 'b' 'd' 'd' 'b' 'e' 'e' 'c' 'b' 'a'
 'b' 'a' 'a' 'e' 'd' 'b' 'd' 'c' 'b' 'c' 'c' 'b' 'c' 'e' 'd']
['b', 'a', 'c', 'e', 'b', 'd', 'a', 'a', 'a', 'c', 'd', 'e', 'd', 'd', 'e', 'e', 'd', 'b', 'd', 'd', 'c', 'c', 'd', 'b', 'a', 'e', 'c', 'e', 'c', 'b', 'a', 'a', 'd', 'e', 'b', 'd', 'a', 'b', 'b', 'd', 'd', 'd', 'c', 'e', 'b', 'b', 'd', 'd', 'b', 'e', 'e', 'c', 'b', 'a', 'a', 'a', 'a', 'e', 'd', 'b', 'd', 'd', 'b', 'c', 'c', 'b', 'c', 'e', 'd']
정확도 : 0.8695652173913043

['./forest_yd.pkl']

In [519]:
from sklearn import datasets
from sklearn.neighbors import KNeighborsClassifier
import joblib

In [520]:
x_test2 = pd.DataFrame([{'h2' :x_test['hp2']['제주시'],'h3' : 0.564}])

In [521]:
from sklearn.model_selection import GridSearchCV

params = { 'n_estimators' : [10, 30],
           'max_depth' : [6, 8, 10, 40],
           'min_samples_leaf' : [8, 12, 50],
           'min_samples_split' : [8, 16, 40]
            }

# RandomForestClassifier 객체 생성 후 GridSearchCV 수행
rf_clf = RandomForestClassifier(random_state = 0, n_jobs = -1)
grid_cv = GridSearchCV(rf_clf, param_grid = params, cv = 3, n_jobs = -1)
grid_cv.fit(x_train, y_train)

print('최적 하이퍼 파라미터: ', grid_cv.best_params_)
print('최고 예측 정확도: {:.4f}'.format(grid_cv.best_score_))

최적 하이퍼 파라미터:  {'min_samples_leaf': 8, 'min_samples_split': 8, 'n_estimators': 30, 'max_depth': 6}
최고 예측 정확도: 0.7250

C:\Users\user\anaconda3\envs\bigdata\lib\site-packages\sklearn\model_selection\_search.py:841: DeprecationWarning: The default of the `iid` parameter will change from True to False in version 0.22 and will be removed in 0.24. This will change numeric results when test-set sizes are unequal.
  DeprecationWarning)

In [522]:
# #위의 결과로 나온 최적 하이퍼 파라미터로 다시 모델을 학습하여 테스트 세트 데이터에서 예측 성능을 측정
# rf_clf1 = RandomForestClassifier(n_estimators = 100, 
#                                 max_depth = 12,
#                                 min_samples_leaf = 8,
#                                 min_samples_split = 8,
#                                 random_state = 0,
#                                 n_jobs = -1)
# rf_clf1.fit(x_train, y_train)
# pred = rf_clf1.predict(x_test)
# print('예측 정확도: {:.4f}'.format(accuracy_score(y_test,pred)))

In [523]:
# import matplotlib.pyplot as plt
# import seaborn as sns
# %matplotlib inline

# ftr_importances_values = rf_clf1.feature_importances_
# ftr_importances = pd.Series(ftr_importances_values, index = x_train.columns)
# ftr_top20 = ftr_importances.sort_values(ascending=False)[:20]

# plt.figure(figsize=(8,6))
# plt.title('Top 20 Feature Importances')
# sns.barplot(x=ftr_top20, y=ftr_top20.index)
# plt.show()

In [524]:
data2 = city2.T

In [525]:
data2['hp2'] = data['hp2']

In [526]:
data2['hp3'] = data['hp3']

In [527]:
data2['hp1'] = data['hp1']

In [528]:
data2.keys()

Index(['h1', 'h2', 'h3', 'h4', 'h5', 'e1', 'e2', 'e3', 'e4', 'e5', 's1', 's2',
       's3', 's4', 's5', 'ed1', 'ed2', 'ed3', 'ed4', 'sf1', 'sf2', 'sf3',
       'sf4', 'sf5', 'l1', 'l2', 'l3', 'l4', 'l5', 'en1', 'en2', 'en3', 'en4',
       'en5', 'hp2', 'hp3', 'hp1'],
      dtype='object')

In [529]:
# from sklearn.linear_model import LogisticRegression

# log = LogisticRegression() #로지스틱 회귀분석 시행

# log.fit(x_train, y_train) #모델의 정확도 확인
# print('학습용 데이터셋 정확도 : %.2f' % log.score(x_train, y_train))
# print('검증용 데이터셋 정확도 : %.2f' % log.score(x_test, y_test))

In [530]:
sucide = pd.read_csv('sucide_korea.csv',engine='python')
sucide.head()

  행정구역별  2017
0   종로구  30.4
1    중구  22.3
2   용산구  23.7
3   성동구  22.6
4   광진구  20.2

In [531]:
sucide = sucide.rename(columns={'행정구역별' : 'city2','2017':'sucide'})

# sucide
# happy_mean

In [532]:
data3 = pd.merge(sucide,happy_mean,on="city2")
# data3
data3['sucide'] = pd.to_numeric(data3['sucide'])
# data3

In [533]:
data['hp3'] = pd.to_numeric(data['hp3'])
# data.head()

In [534]:
import pandas as pd
import numpy as np

import platform
import matplotlib.pyplot as plt

%matplotlib inline

from matplotlib import font_manager, rc
if platform.system() == 'Darwin':
    rc('font', family='AppleGothic')
elif platform.system() == 'Windows':
    font_name = font_manager.FontProperties(fname="c:/Windows/Fonts/malgun.ttf").get_name()
    rc('font', family=font_name)
else:
    print('Unknown system... sorry~~~~')    

plt.rcParams['axes.unicode_minus'] = False

In [535]:
data_draw_korea = pd.read_csv('data_draw_korea.csv', index_col=0, encoding='UTF-8')
data_draw_korea.head()

      인구수 shortName   x  y       면적 광역시도 행정구역
0  202520        강릉  11  4  1040.07  강원도  강릉시
1   25589    고성(강원)   9  0   664.19  강원도  고성군
2   86747        동해  11  5   180.01  강원도  동해시
3   63986        삼척  11  8  1185.80  강원도  삼척시
4   76733        속초   9  1   105.25  강원도  속초시

In [536]:
import requests
import json
import pandas as pd
import numpy as np
from pandas.io.json import json_normalize
import os
import webbrowser
import folium
from folium import plugins
print(folium.__version__)

0.11.0

In [537]:
import pandas as pd
import folium
from folium import plugins

import json
import warnings

import matplotlib as mpl
import matplotlib.pyplot as plt
from matplotlib import font_manager , rc 
font_path='C:\\Users\\user\\AppData\\Local\\Microsoft\\Windows\\Fonts\\NanumGothic.ttf'
font_name= font_manager.FontProperties(fname=font_path).get_name()
font_name 
rc('font',family = font_name)
warnings.simplefilter(action='ignore', category=FutureWarning)

In [538]:
happy_mean.head()
happy_mean['city2']=happy_mean['city2'].astype(str)
happy_mean.head()

,No,city,city2,hp1,hp2,h_mean,e_mean,s_mean,ed_mean,sf_mean,l_mean,en_mean,hp3
0,1,서울특별시,종로구,a,0.8074,0.9220,1.0000,0.7425,0.6839,0.7470,0.6331,0.4637,0.4437
1,2,서울특별시,중구,a,0.6939,0.6742,0.9806,0.4608,0.5013,0.9320,0.6691,0.2865,0.4976
2,3,서울특별시,용산구,a,0.5310,0.5898,0.6915,0.4317,0.2679,0.5537,0.2817,0.5030,0.6161
3,4,서울특별시,성동구,c,0.4751,0.4794,0.6533,0.4182,0.2464,0.5347,0.3257,0.4196,0.4729
4,5,서울특별시,광진구,b,0.5317,0.6373,0.4445,0.3519,0.4879,0.6072,0.3313,0.4992,0.4041

In [539]:
# happy_mean['hp2']

In [540]:
# happy_mean.rename(columns={'city2':'SIG_KOR_NM'})

In [541]:
test = pd.read_csv('test.csv',encoding = 'euc-kr')
test.head()

,SIG_CD,hp2,No,city,city2,hp1,h_mean,e_mean,s_mean,ed_mean,sf_mean,l_mean,en_mean,hp3
0,11110,0.8074,1,서울특별시,종로구,a,0.9220,1.0000,0.7425,0.6839,0.7470,0.6331,0.4637,0.4437
1,11140,0.6939,2,서울특별시,중구,a,0.6742,0.9806,0.4608,0.5013,0.9320,0.6691,0.2865,0.4976
2,11170,0.5310,3,서울특별시,용산구,a,0.5898,0.6915,0.4317,0.2679,0.5537,0.2817,0.5030,0.6161
3,11200,0.4751,4,서울특별시,성동구,c,0.4794,0.6533,0.4182,0.2464,0.5347,0.3257,0.4196,0.4729
4,11215,0.5317,5,서울특별시,광진구,b,0.6373,0.4445,0.3519,0.4879,0.6072,0.3313,0.4992,0.4041

In [542]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [543]:
test['SIG_CD'] = test['SIG_CD'].astype(str)
test['SIG_CD'].dtype

dtype('O')

In [544]:
test.head()

,SIG_CD,hp2,No,city,city2,hp1,h_mean,e_mean,s_mean,ed_mean,sf_mean,l_mean,en_mean,hp3
0,11110,0.8074,1,서울특별시,종로구,a,0.9220,1.0000,0.7425,0.6839,0.7470,0.6331,0.4637,0.4437
1,11140,0.6939,2,서울특별시,중구,a,0.6742,0.9806,0.4608,0.5013,0.9320,0.6691,0.2865,0.4976
2,11170,0.5310,3,서울특별시,용산구,a,0.5898,0.6915,0.4317,0.2679,0.5537,0.2817,0.5030,0.6161
3,11200,0.4751,4,서울특별시,성동구,c,0.4794,0.6533,0.4182,0.2464,0.5347,0.3257,0.4196,0.4729
4,11215,0.5317,5,서울특별시,광진구,b,0.6373,0.4445,0.3519,0.4879,0.6072,0.3313,0.4992,0.4041

In [545]:
geo_path = 'SIG_WGS842.json'
geo_data = json.load(open(geo_path, encoding='UTF8'))

In [546]:
for idx,sigun_dict in enumerate(geo_data['features']):
    sigun_SIG_CD = sigun_dict['properties']['SIG_CD']
    sigun_nm=test.loc[(test.SIG_CD == sigun_SIG_CD),'city2'].iloc[0]
    happy = test.loc[(test.SIG_CD == sigun_SIG_CD),'hp2'].iloc[0] 
    txt = '<b><h4>'+str(sigun_nm)+'</h4></b>행복지수 :'+str(happy)
    geo_data['features'][idx]['properties']['tooltip1'] = txt



# print(geo_data['features'][idx]['properties']['tooltip1'])

In [552]:

m =folium.Map(location=[36.2002, 127.054], zoom_start=7)
choropleth=folium.Choropleth(geo_data = geo_data,
                            data= test,
                            columns=['SIG_CD', 'hp2'],
                            fill_color='Greens',
                            fill_opacity=0.7,
                             line_opacity=0.5,
                           key_on='feature.properties.SIG_CD').add_to(m) 

# folium.Popup(test['hp2'].values).add_to(m)


#지도에 원하는 변수 넣기 


choropleth.geojson.add_child(
    folium.features.GeoJsonTooltip(['tooltip1'], labels=False)).add_to(m)


# choropleth.geojson.add_child(
#     folium.features.GeoJsonTooltip(['tooltip1'],labels=False))
title_html = '<h3 align="center" style="font-size:20px"><b>Happy rating</b></h3>'
m.get_root().html.add_child(folium.Element(title_html))
folium.LayerControl().add_to(m)
m

m.save('happy2.html')
webbrowser.open_new("happy2.html")

True

In [459]:
geo_path = 'SIG_WGS842.json'
geo_data = json.load(open(geo_path, encoding='UTF8'))

map =folium.Map(location=[36.2002, 127.054], zoom_start=7)
map.choropleth(geo_data = geo_data,
                            data= test,
                            columns=['SIG_CD', 'hp3'],
                            fill_color='Greens',
                            fill_opacity=0.7,
                             line_opacity=0.5,
                           key_on='feature.properties.SIG_CD')

from folium.plugins import MarkerCluster

marker_cluster = MarkerCluster().add_to(map)
for n in range(len(data.index)):
    folium.Marker(location=[routeseoul['latitude'][n], routeseoul['longitude'][n]]).add_to(marker_cluster)
    


folium.Popup(dfs_cl.index).add_to(map)

# map

NameError: name 'routeseoul' is not defined

In [460]:
# folium.Choropleth(
#     geo_data = "지도 데이터 파일 경로 (.geojson, geopandas.DataFrame)"
#     data = "시각화 하고자 하는 데이터파일. (pandas.DataFrame)"
#     columns = (지도 데이터와 매핑할 값, 시각화 하고자하는 변수),
#     key_on = "feature.데이터 파일과 매핑할 값",
#     fill_color = "시각화에 쓰일 색상",
#     legend_name = "칼라 범주 이름",
# ).add_to(m)
# 추가적인 설명을 더하자면 다음과 같습니다.

# columns 에는 tuple 형태의 2개의 값만 들어가야 합니다.
# 하나는 geo_data 의 데이터 변수(열) 중, data 의 데이터와 매핑할 변수입니다.
# 즉 아래 key_on 값과 매핑할 변수입니다.
# 위 예의 경우, 동 으로 매핑하고 있습니다.
# 2개 값의 순서는 상관없습니다.
# key_on 에는 하나의 String 값이 들어가야 합니다.
# 위에 .geojson 파일(geo_data)을 보면, features 라는 리스트 안에 데이터 하나하나가 들어있습니다.
# 각 데이터의 속성(변수)는 properties 라는 dict 형태 안에 저장되어 있습니다.
# 따라서, 위 예에서 feature.properties.동 으로 접근하여 매칭한 것입니다.
# fill_color 는 종류가 정해져있는데, 이는 추후 설명하겠습니다.
# geo_data 는 url 이 올 수도 있고, geopandas 로 읽은 데이터프레임이 올 수도 있습니다.
# 위 내용을 이해하면 Folium 의 다른 레이어들의 파라미터도 이해하기 쉽습니다.

# 이해를 응용해보겠습니다.
# 동 단위가 아니라, 구 단위로 데이터를 매핑하고 싶으면 다음과 같이 수정하면 됩니다.

In [461]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import datasets 
from sklearn.model_selection import train_test_split

from sklearn.metrics import accuracy_score

print(accuracy_score(y_test,y_pred))

0.855072463768116

In [462]:
from sklearn.model_selection import train_test_split
 
x = data[['hp2','hp3']]
y = data['hp1']
 
# 테스트 데이터 30%
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.3,random_state=999)
print(len(x_train))
print(len(x_test))
print(len(y_train))
print(len(y_test))

160
69
160
69

In [463]:
from sklearn.ensemble import RandomForestClassifier
from sklearn import metrics    
# 학습 진행
forest = RandomForestClassifier(n_estimators=100)
forest.fit(x_train, y_train)
# y_train의 값이 0,1의 값이어야 함 
# 예측
y_pred = forest.predict(x_test)
print(y_pred)
print(list(y_test))
# 정확도 확인
# forest.score(x_train,y_train)
forest.score(x_test,y_test)
print('정확도 :', metrics.accuracy_score(y_test, y_pred))



# joblib.dump(forest,'./forest_yd.pkl')

['c' 'a' 'c' 'e' 'b' 'e' 'a' 'a' 'a' 'd' 'd' 'e' 'd' 'd' 'e' 'e' 'd' 'b'
 'c' 'd' 'c' 'c' 'd' 'b' 'a' 'e' 'c' 'e' 'c' 'b' 'a' 'b' 'd' 'e' 'b' 'd'
 'a' 'b' 'b' 'c' 'd' 'd' 'c' 'e' 'b' 'b' 'd' 'e' 'b' 'e' 'e' 'c' 'b' 'a'
 'b' 'a' 'a' 'e' 'd' 'b' 'd' 'c' 'b' 'c' 'd' 'b' 'c' 'e' 'd']
['b', 'a', 'c', 'e', 'b', 'd', 'a', 'a', 'a', 'c', 'd', 'e', 'd', 'd', 'e', 'e', 'd', 'b', 'd', 'd', 'c', 'c', 'd', 'b', 'a', 'e', 'c', 'e', 'c', 'b', 'a', 'a', 'd', 'e', 'b', 'd', 'a', 'b', 'b', 'd', 'd', 'd', 'c', 'e', 'b', 'b', 'd', 'd', 'b', 'e', 'e', 'c', 'b', 'a', 'a', 'a', 'a', 'e', 'd', 'b', 'd', 'd', 'b', 'c', 'c', 'b', 'c', 'e', 'd']
정확도 : 0.855072463768116